@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import '_colors.scss';

* {
  box-sizing: border-box;
  background-repeat: no-repeat;
}

body {
  font-family: 'Roboto', sans-serif;
}
